{% extends 'layout.html' %}
{% block content %}
<div class="content">
<head>
    <title>Login</title>
</head>

{% if error %}
        <div class="alert">Incorrect username or password</div>
{% endif %}

<body>
    <h1>Login</h1>
    <form method="POST">
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input type="text" name="username" required></td>
            </tr>

            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" required></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" Value="Login"></td>
            </tr>

        </table>
    </form>

</body>
</div>
{% endblock %}

